
<div class="product-list">
<div *ngFor="let product of products" class="product-card">
  <h3>{{ product.name }}</h3>
  <p><strong>Code:</strong> {{ product.code }}</p>
  <p><strong>Excerpt:</strong> {{ product.excerpt }}</p>
  <div class="product-details" *ngIf="product.showDetails">
    <p><strong>Description:</strong> {{ product.description || 'No description available' }}</p>
    <p><strong>Price:</strong> ${{ product.price }}</p>
    <p><strong>Stock:</strong> {{ product.stock }}</p>
    <p *ngIf="product.category"><strong>Category:</strong> {{ product.category.name }}</p>
    <p><strong>Created At:</strong> {{ product.created_at | date:'dd MMM yyyy' }}</p>

  </div>
  
  <button (click)="toggleDetails(product)">View Details</button>
</div>
</div>
