
<app-menu></app-menu>

<div class="app">

    <!-- <a routerLink ="">Home</a>
    <a routerLink ="templateform">Template Form</a>
    <a routerLink ="dynamicform">Dynamic Form</a>
    <a routerLink ="books/12">Books Routing Params Examples</a> -->
    
    
  
    <!-- app component works.... -->
    <!-- <app-dynamicform/> -->
  
    <!-- <app-hello-world></app-hello-world> -->
     
    <!-- <app-menu></app-menu>
    <app-formsexample/> -->
    <!-- <router-outlet></router-outlet>
    <app-footer></app-footer> -->
  
    <router-outlet></router-outlet>

    <!-- <app-server></app-server> -->
  
  </div>